:root {
  --pisang: #ffff4e;
  --pan: #ff9b00;
  --pink-otak: #e36671;
  --bgc-primary: #f7f7f7;
  --text-primary: #4d4b45;
}

body {
  background-color: var(--bgc-primary);
  color: var(--text-primary);
}

.navbar {
  background-color: var(--pisang);
}

.navbar .logo-title {
  /* img logo
  height: 24px;
  padding: 0;
  margin: 0;
  width: auto; */
  color: var(--pan);
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  /* font-family: Tesla; */
}

.home {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .logo {
  max-width: 250px;
}

.main-pages {
  /* margin-top: 56px; */
}

.in-construction {
  max-width: 400px;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.in-construction .icon {
  font-size: 6em;
}

@media (min-width: 992px) {

}