body {
  background-color: #f7f7f7;
  color: #4D4C47;
}

.home {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .logo {
  max-width: 250px;
}

.main-pages {
  margin-top: 56px;
}

.in-construction {
  max-width: 400px;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  text-align: center;
}

.in-construction .icon {
  font-size: 6em;
}
